<!-- <marquee behavior="alternate" direction="" width="100%"> -->
    <div class="footer">
        <!-- <div class="content-social">
          <div>
            <div>
              <span>
                <i class="fa-brands fa-facebook"></i>
              </span>
            </div>
            <div>
              <span>
                <i class="fa-brands fa-twitter"></i>
              </span>
            </div>
            <div>
              <span>
                <i class="fa-brands fa-linkedin"></i>
              </span>
            </div>
          </div>
        </div> -->
      
        <div class="copyright">
          <p>Copyright Focus {{currentYear}}</p>
        </div>
      
        <div class="others">
          <!-- <div>
            <p>{{'Contacto' | translate}}</p>
          </div>
          <div>
            <p>{{'Ayuda' | translate}}</p>
          </div> -->
          <div>
            <p>{{'Términos y condiciones' | translate}}</p>
          </div>
          <div>
            <p>{{'Políticas y privacidad' | translate}}</p>
          </div>
        </div>
      </div>
<!-- </marquee> -->


