
@import '../../../../variables';

.simulator-input-file{
    width: 100%;
    height: 40px;
    border: 1px solid $secondary_dark !important;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}
.preview-image{
    height: 180px;
    margin-top: 30px;
    border: 4px $secondary_dark;
    border-style: dashed;
    cursor: pointer;
    border-radius: 8px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.cont-img{
    display: grid;
    grid-template-columns: 100%;
}
.text-file{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}